/* layout.module.css */
.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.siteTitle {
    font-size: 3rem;
    color: #663399;
    font-weight: 700;
    margin: 3rem 0;
}